$peterRiver: #3498db;
$silver: #bdc3c7;
$clouds: #ecf0f1;

html, body, #app, .App {
  width: 100%;
  height: 100%;
  position: fixed;
}

.App {
  display: flex;
}

.Sidebar {
  width: 200px;
  height: 100%;
  background: $silver;
}

.RightPane {
  flex-grow: 1;
}

.RightPane__labeler {
  display: flex;
}

.RightPane__labeler .Button {
  flex-grow: 1;
}

.Viewport { 
  height: 100%;
}

.App .Bitmap {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 200px;
  width: 200px;
}

canvas {
  width: 100%;
  height: 100%;
  background: $clouds;
}

.Button {
  border-radius: 0;
  outline: none;
  font-size: 16px;
  border: 1px solid $clouds;
  padding: 0.5em 0;
  color: #666;
  background: white;
  text-align: center;
  cursor: pointer;
}

.Button--highlighted {
  background: #2ecc71;
}

.Bitmap__grid {
  height: 100%;
  width: 100%;
  border: 1px solid #666;
  background: white;
}

.Bitmap__grid__cell {
  border: 1px solid black;
}
